{% if profile_type == 'student' %}
<form method="post" action="{{ url_for('user.update_student_basic_information') }}" class="row g-3 mt-1" enctype="multipart/form-data">
  <div class="col-md-6"><label class="form-label">Full Name</label><input class="form-control" name="name" value="{{ user.name or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Mobile Number</label><input class="form-control" name="mobile" value="{{ user.mobile or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Email</label><input class="form-control" name="email" value="{{ user.email or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Date of Birth</label><input type="date" class="form-control" name="dob" value="{{ user.dob or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Gender</label><input class="form-control" name="gender" value="{{ user.gender or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Blood Group</label><input class="form-control" name="blood_group" value="{{ user.blood_group or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Nationality</label><input class="form-control" name="nationality" value="{{ user.nationality or '' }}"></div>
  <div class="col-md-6"><label class="form-label">City</label><input class="form-control" name="city" value="{{ user.city or '' }}"></div>
  <div class="col-md-6"><label class="form-label">State</label><input class="form-control" name="state" value="{{ user.state or '' }}"></div>
  <div class="col-md-6"><label class="form-label">PIN Code</label><input class="form-control" name="pin_code" value="{{ user.pin_code or '' }}"></div>
  <div class="col-12"><label class="form-label">Address</label><textarea class="form-control" name="address" rows="3">{{ user.address or '' }}</textarea></div>
  <div class="col-md-6"><label class="form-label">Profile Photo</label><input class="form-control" name="photo" type="file" accept="image/*"></div>
  <div class="col-12"><button class="btn btn-primary" type="submit">Save</button></div>
</form>
{% elif profile_type == 'employee' %}
<form method="post" action="{{ url_for('employee.update_employee_basic_information') }}" class="row g-3 mt-1">
  <div class="col-md-6"><label class="form-label">Full Name</label><input class="form-control" name="name" value="{{ user.name or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Mobile</label><input class="form-control" name="mobile" value="{{ user.mobile or '' }}"></div>
  <div class="col-md-6"><label class="form-label">Email</label><input class="form-control" name="email" value="{{ user.email or '' }}"></div>
  <div class="col-12"><label class="form-label">Address</label><textarea class="form-control" name="address" rows="3">{{ user.address or '' }}</textarea></div>
  <div class="col-12"><button class="btn btn-primary" type="submit">Save</button></div>
</form>
{% endif %}
