{% extends 'base.html' %}
{% from 'profile/components.html' import profile_header, section_card, section_visibility_script %}
{% block content %}
{{ profile_header(profile_dashboard_title, profile_dashboard_description, user, overall_completion, show_dashboard_nav=False) }}
<div class="row g-3 profile-section-grid">
  {% for section in profile_sections %}
    {{ section_card(section, 'legacy', user, section_url=section.url) }}
  {% endfor %}
</div>
{{ section_visibility_script() }}
{% endblock %}
